
<figure class="relative h-96 w-full">
  <img src="https://dub.sh/Y0NxRWv" alt="nature-image" class="h-full w-full rounded-xl object-cover object-center" />
  <figcaption class="rounded-lg border shadow-sm overflow-hidden bg-white border-stone-200 shadow-stone-950/5 absolute bottom-4 left-1/2 w-[calc(100%-2rem)] -translate-x-1/2 bg-opacity-75 saturate-200 backdrop-blur-md">
    <div class="w-full h-max rounded py-2.5 flex justify-between px-4">
      <div>
        <h6 class="font-sans antialiased font-bold text-base md:text-lg lg:text-xl text-current">Sara Lamalo</h6>
        <p class="font-sans antialiased text-base mt-1 text-stone-600">20 July 2022</p>
      </div>
      <p class="font-sans antialiased text-base text-current font-bold">Growth</p>
    </div>
  </figcaption>
</figure>
