
<div class="flex flex-col gap-4">
  <h1 class="font-sans antialiased font-bold text-4xl md:text-5xl lg:text-6xl text-stone-500">Material Tailwind</h1>
  <h1 class="font-sans antialiased font-bold text-4xl md:text-5xl lg:text-6xl text-stone-200">Material Tailwind</h1>
  <h1 class="font-sans antialiased font-bold text-4xl md:text-5xl lg:text-6xl text-blue-500">Material Tailwind</h1>
  <h1 class="font-sans antialiased font-bold text-4xl md:text-5xl lg:text-6xl text-green-500">Material Tailwind</h1>
  <h1 class="font-sans antialiased font-bold text-4xl md:text-5xl lg:text-6xl text-amber-500">Material Tailwind</h1>
  <h1 class="font-sans antialiased font-bold text-4xl md:text-5xl lg:text-6xl text-red-500">Material Tailwind</h1>
</div>
