
<div class="w-full space-y-4">
  <div class="w-full bg-stone-200 block rounded-full overflow-hidden h-4">
    <div class="h-full rounded-none bg-stone-800" style="width:50%"></div>
  </div>
  <div class="w-full bg-stone-200 block rounded-full overflow-hidden h-4">
    <div class="h-full rounded-none bg-stone-200 brightness-90" style="width:50%"></div>
  </div>
  <div class="w-full bg-stone-200 block rounded-full overflow-hidden h-4">
    <div class="h-full rounded-none bg-blue-500" style="width:50%"></div>
  </div>
  <div class="w-full bg-stone-200 block rounded-full overflow-hidden h-4">
    <div class="h-full rounded-none bg-green-500" style="width:50%"></div>
  </div>
  <div class="w-full bg-stone-200 block rounded-full overflow-hidden h-4">
    <div class="h-full rounded-none bg-amber-500" style="width:50%"></div>
  </div>
  <div class="w-full bg-stone-200 block rounded-full overflow-hidden h-4">
    <div class="h-full rounded-none bg-red-500" style="width:50%"></div>
  </div>
</div>
