
<div class="flex items-end gap-2">
  <img src="https://dub.sh/TdSBP0D" alt="profile-picture" class="inline-block object-cover object-center w-6 h-6 rounded-sm" />
  <img src="https://dub.sh/TdSBP0D" alt="profile-picture" class="inline-block object-cover object-center w-8 h-8 rounded" />
  <img src="https://dub.sh/TdSBP0D" alt="profile-picture" class="inline-block object-cover object-center w-11 h-11 rounded-md" />
  <img src="https://dub.sh/TdSBP0D" alt="profile-picture" class="inline-block object-cover object-center w-14 h-14 rounded-md" />
  <img src="https://dub.sh/TdSBP0D" alt="profile-picture" class="inline-block object-cover object-center w-20 h-20 rounded-lg" />
  <img src="https://dub.sh/TdSBP0D" alt="profile-picture" class="inline-block object-cover object-center w-28 h-28 rounded-xl" />
</div>
