
<div class="flex flex-col gap-6">
  <div class="flex items-center gap-4">
    <img src="https://dub.sh/TdSBP0D" alt="avatar" class="inline-block object-cover object-center w-11 h-11 rounded-md" />
    <div>
      <p class="font-sans antialiased text-base text-current">Tania Andrew</p>
      <small class="font-sans antialiased text-sm text-stone-600">Web Developer</small>
    </div>
  </div>
  <div class="flex items-center gap-4">
    <img src="https://dub.sh/TdSBP0D" alt="avatar" class="inline-block object-cover object-center w-11 h-11 rounded-md" />
    <div>
      <p class="font-sans antialiased text-base text-current">Tania Andrew</p>
      <small class="font-sans antialiased text-sm text-stone-600">Web Developer</small>
    </div>
  </div>
  <div class="flex items-center gap-4">
    <img src="https://dub.sh/TdSBP0D" alt="avatar" class="inline-block object-cover object-center w-11 h-11 rounded-md" />
    <div>
      <p class="font-sans antialiased text-base text-current">Tania Andrew</p>
      <small class="font-sans antialiased text-sm text-stone-600">Web Developer</small>
    </div>
  </div>
</div>
