
<nav class="flex flex-wrap items-center gap-1 p-1">
  <a href="/docs" class="inline-flex items-center gap-1.5 text-sm text-stone-800 dark:text-white transition-colors duration-300 ease-in hover:text-primary dark:hover:text-primary">Docs</a>
  <span class="inline-block mx-1 text-sm select-none pointer-events-none opacity-50 text-stone-800 dark:text-white">-</span>
  <a href="/docs/components" class="inline-flex items-center gap-1.5 text-sm text-stone-800 dark:text-white transition-colors duration-300 ease-in hover:text-primary dark:hover:text-primary">Components</a>
  <span class="inline-block mx-1 text-sm select-none pointer-events-none opacity-50 text-stone-800 dark:text-white">-</span>
  <a href="/docs/components/breadcrumb" class="inline-flex items-center gap-1.5 text-sm text-stone-800 dark:text-white transition-colors duration-300 ease-in hover:text-primary dark:hover:text-primary">Breadcrumb</a>
</nav>
