
<div class="flex items-end gap-2">
  <div class="relative inline-flex w-max items-center border font-sans font-medium rounded-md text-xs p-0.5 shadow-sm bg-stone-500 border-stone-500 text-stone-50">
    <span class="font-sans text-current leading-none my-0.5 mx-1.5">Small</span>
  </div>
  <div class="relative inline-flex w-max items-center border font-sans font-medium rounded-md text-sm p-0.5 shadow-sm bg-stone-500 border-stone-500 text-stone-50">
    <span class="font-sans text-current leading-none my-1 mx-2.5">Medium</span>
  </div>
  <div class="relative inline-flex w-max items-center border font-sans font-medium rounded-md text-sm p-1 shadow-sm bg-stone-500 border-stone-500 text-stone-50">
    <span class="font-sans text-current leading-none my-1.5 mx-3">Large</span>
  </div>
</div>
