
<button data-dui-toggle="collapse" data-dui-target="#collapseButton" aria-expanded="false" aria-controls="collapseButton" class="inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-sm py-2 px-4 shadow-sm hover:shadow-md bg-stone-800 hover:bg-stone-700 relative bg-gradient-to-b from-stone-700 to-stone-800 border-stone-900 text-stone-50 rounded-lg hover:bg-gradient-to-b hover:from-stone-800 hover:to-stone-800 hover:border-stone-900 after:absolute after:inset-0 after:rounded-[inherit] after:box-shadow after:shadow-[inset_0_1px_0px_rgba(255,255,255,0.25),inset_0_-2px_0px_rgba(0,0,0,0.35)] after:pointer-events-none transition antialiased">Button with Collapse</button>
<div class="overflow-hidden transition-[max-height] duration-300 ease-in-out max-h-0 mt-1" id="collapseButton">
  <div class="bg-white border border-stone-200 rounded-lg shadow-sm p-4 z-10">
    <p class="text-stone-500 text-sm">Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.</p>
  </div>
</div>
