
<ul class="flex flex-col gap-0.5 min-w-60">
  <li class="flex items-center py-1.5 px-2.5 rounded-md align-middle select-none font-sans transition-all duration-300 ease-in aria-disabled:opacity-50 aria-disabled:pointer-events-none bg-transparent text-stone-600 hover:text-stone-800 dark:hover:text-white hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800 dark:focus:text-white dark:data-[selected=true]:text-white dark:bg-opacity-70">
    <span class="grid place-items-center shrink-0 me-2.5">
      <img src="https://dub.sh/TdSBP0D" alt="profile-picture" class="inline-block object-cover object-center w-11 h-11 rounded-md" />
    </span>
    <div>
      <p class="font-sans antialiased text-base text-stone-800 dark:text-white font-semibold">Alex Andrew</p>
      <small class="font-sans antialiased text-sm text-stone-600">Software Engineer @ Material Tailwind</small>
    </div>
  </li>
  <li class="flex items-center py-1.5 px-2.5 rounded-md align-middle select-none font-sans transition-all duration-300 ease-in aria-disabled:opacity-50 aria-disabled:pointer-events-none bg-transparent text-stone-600 hover:text-stone-800 dark:hover:text-white hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800 dark:focus:text-white dark:data-[selected=true]:text-white dark:bg-opacity-70">
    <span class="grid place-items-center shrink-0 me-2.5">
      <img src="https://dub.sh/rNFOKKJ" alt="profile-picture" class="inline-block object-cover object-center w-11 h-11 rounded-md" />
    </span>
    <div>
      <p class="font-sans antialiased text-base text-stone-800 dark:text-white font-semibold">Alexander</p>
      <small class="font-sans antialiased text-sm text-stone-600">Backend Developer @ Material Tailwind</small>
    </div>
  </li>
  <li class="flex items-center py-1.5 px-2.5 rounded-md align-middle select-none font-sans transition-all duration-300 ease-in aria-disabled:opacity-50 aria-disabled:pointer-events-none bg-transparent text-stone-600 hover:text-stone-800 dark:hover:text-white hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800 dark:focus:text-white dark:data-[selected=true]:text-white dark:bg-opacity-70">
    <span class="grid place-items-center shrink-0 me-2.5">
      <img src="https://dub.sh/6i238JA" alt="profile-picture" class="inline-block object-cover object-center w-11 h-11 rounded-md" />
    </span>
    <div>
      <p class="font-sans antialiased text-base text-stone-800 dark:text-white font-semibold">Emma Willever</p>
      <small class="font-sans antialiased text-sm text-stone-600">UI/UX Designer @ Material Tailwind</small>
    </div>
  </li>
</ul>
