
<footer class="w-full">
  <div class="flex w-full flex-row flex-wrap items-center justify-center gap-x-12 gap-y-3 text-center md:justify-between">
    <img src="/logo.png" alt="brand" class="w-8" />
    <ul class="flex flex-wrap items-center gap-x-6 gap-y-2">
      <li>
        <a href="#" class="font-sans antialiased text-base text-current hover:text-primary">About Us</a>
      </li>
      <li>
        <a href="#" class="font-sans antialiased text-base text-current hover:text-primary">License</a>
      </li>
      <li>
        <a href="#" class="font-sans antialiased text-base text-current hover:text-primary">Contribute</a>
      </li>
      <li>
        <a href="#" class="font-sans antialiased text-base text-current hover:text-primary">Contact Us</a>
      </li>
    </ul>
  </div>
  <hr class="my-4 border-stone-200" />
  <p class="font-sans antialiased text-base text-current text-center">© 2024 Material Tailwind</p>
</footer>
