
<div class="group block w-full items-center justify-between cursor-pointer aria-disabled:opacity-50 aria-disabled:pointer-events-none aria-disabled:select-none mb-2 rounded-lg border border-stone-200 p-3" aria-disabled="false">
  <button class="flex items-center justify-between w-full text-left font-medium dark:text-white text-stone-800 p-0">Material Tailwind React<svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="h-4 w-4 group-data-[open=true]:rotate-180"><path d="M6 9L12 15L18 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
  </button>
</div>
<div class="group block w-full items-center justify-between cursor-pointer aria-disabled:opacity-50 aria-disabled:pointer-events-none aria-disabled:select-none mb-2 rounded-lg border border-stone-200 p-3" aria-disabled="false">
  <button class="flex items-center justify-between w-full text-left font-medium dark:text-white text-stone-800 p-0">Material Tailwind HTML<svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="h-4 w-4 group-data-[open=true]:rotate-180"><path d="M6 9L12 15L18 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
  </button>
</div>
<div class="group block w-full items-center justify-between cursor-pointer aria-disabled:opacity-50 aria-disabled:pointer-events-none aria-disabled:select-none rounded-lg border border-stone-200 p-3" aria-disabled="false">
  <button class="flex items-center justify-between w-full text-left font-medium dark:text-white text-stone-800 p-0">Material Tailwind Vue<svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="h-4 w-4 group-data-[open=true]:rotate-180"><path d="M6 9L12 15L18 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
  </button>
</div>
