
<div class="flex gap-2">
  <div class="flex items-center gap-2">
    <label class="group block cursor-pointer shadow-sm shadow-stone-950/5 relative h-5 w-5 shrink-0 rounded-full bg-transparent border border-stone-200 transition-all duration-200 ease-in aria-disabled:opacity-50 aria-disabled:pointer-events-none hover:shadow-md text-stone-50" for="html">
      <input id="html" type="radio" style="display:none" value=":R5H1:" />
      <span class="pointer-events-none absolute left-2/4 top-2/4 text-current -translate-x-2/4 -translate-y-2/4 scale-75 opacity-0 transition-all duration-200 ease-in group-data-[checked=true]:scale-100 group-data-[checked=true]:opacity-100"><svg width="10px" height="10px" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 0.25C5.06294 0.25 0.25 5.06294 0.25 11C0.25 16.9371 5.06294 21.75 11 21.75C16.9371 21.75 21.75 16.9371 21.75 11C21.75 5.06294 16.9371 0.25 11 0.25Z" fill="currentColor"></path></svg>
      </span>
    </label>
    <label for="html" class="font-sans antialiased text-base text-stone-600">HTML</label>
  </div>
  <div class="flex items-center gap-2">
    <label class="group block cursor-pointer shadow-sm shadow-stone-950/5 relative h-5 w-5 shrink-0 rounded-full bg-transparent border border-stone-200 transition-all duration-200 ease-in aria-disabled:opacity-50 aria-disabled:pointer-events-none hover:shadow-md text-stone-50" for="react">
      <input id="react" type="radio" style="display:none" value=":R6H1:" />
      <span class="pointer-events-none absolute left-2/4 top-2/4 text-current -translate-x-2/4 -translate-y-2/4 scale-75 opacity-0 transition-all duration-200 ease-in group-data-[checked=true]:scale-100 group-data-[checked=true]:opacity-100"><svg width="10px" height="10px" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 0.25C5.06294 0.25 0.25 5.06294 0.25 11C0.25 16.9371 5.06294 21.75 11 21.75C16.9371 21.75 21.75 16.9371 21.75 11C21.75 5.06294 16.9371 0.25 11 0.25Z" fill="currentColor"></path></svg>
      </span>
    </label>
    <label for="react" class="font-sans antialiased text-base text-stone-600">React</label>
  </div>
</div>
